[submodule "aes"]
	path = core_package/src/cores/aes
	url = https://github.com/secworks/aes.git
[submodule "linux-on-litex-vexriscv"]
	path = linux-on-litex-vexriscv
	url = https://github.com/Assured/linux-on-litex-vexriscv.git
